# Dependências
node_modules

# Arquivos de Build e Pacotes
dist
release
*.exe
*.dmg
*.AppImage

# Arquivos de Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db